html {
  scroll-behavior: smooth;
}
body {
  background: #232321;
}
h1 {
  color: #111;
  padding: 10px 0;
  margin-top: 20px;
  margin-bottom: 20px;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.4s;
  border: none;
}
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.4);
}
.card a {
  color: initial;
}
.card a:hover {
  text-decoration: initial;
}
.card .text-muted i {
  margin: 0 10px;
}

#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff; /* change if the mask should have another color then white */
  z-index: 99999; /* makes sure it stays on top */
}
#status {
  width: 100px;
  height: 100px;
  position: absolute;
  left: 50%; /* centers the loading animation horizontally one the screen */
  top: 50%; /* centers the loading animation vertically one the screen */
  background-image: url("book.gif");
  z-index: 9999; /* path to your loading animation */
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: -50px 0 0 -50px; /* is width and height divided by two */
}
